Browse.VC.opendb
Browse.VC.db-wal
Browse.VC.db-shm
Browse.VC
Browse.VC.db
.suo
*vxcproj
x64/
libtest3.sln
.vs/
log.txt
CppProperties.json
OpenCv2.sln
OpenCv2.vcxproj
OpenCv2.vcxproj.filters
OpenCv2.vcxproj.user